.side_bar
  .side_bar__box
    .side_bar__box__header
    
      .side_bar__box__header__name-icon
        .side_bar__box__header__name-icon__name
          Anna
        .side_bar__box__header__name-icon__logo
          = link_to "#", class: "side_bar__box__header__name-icon__logo__1" do
            = icon('fas', 'edit')
          = link_to "#", class: "side_bar__box__header__name-icon__logo__1" do
            = icon('fas', 'fas fa-cog')
            %br
    .side_bar__box__content
      .side_bar__box__content__group-message 
        .side_bar__box__content__group-message__groupname
          techcamp
        .side_bar__box__content__group-message__messageinfo
          まだメッセージはありません。

